@using FinVue.Core.Enums

<nav class="back2" id="side-nav">
    <div class="block">
        <NavLink class="no-link-design" href="@BuildLink(-1)">
            <span class="@(Month == null ? "color-primary" : "")">Ganzes Jahr</span>
        </NavLink>
    </div>
    @for (int i = 1; i <= 12; i++) {
        var month = i;
        <div class="block">
            <NavLink class="no-link-design" href="@BuildLink(month)">
                <span class="@GetMonthClasses(month)">@GetMonthName(month)</span>
            </NavLink>
        </div>
    }
</nav>

@code {

    [Parameter]
    public int Year { get; set; } 
    
    [Parameter]
    public int? Month { get; set; }

    private string GetMonthName(int month) {
        return Enum.GetNames<Month>()[month-1];
    }

    private string GetMonthClasses(int month) {
        var classList = "";
        if (Year == DateTime.Now.Year && month > DateTime.Now.Month) {
            classList += "low-opac";
        }
        if (Month != null && month == Month) {
            classList += " color-primary";
        }
        return classList;
    }
    
    private string BuildLink(int month) {
        if (month <= 0) {
            return "/year/" + Year;
        }
        return "/year/" + Year + "/month/" + month;
    }
}